<div class="form-inline">
  <div class="form-group">
    <label class="control-label">Name:</label> <p class="form-control-static">${NAME}</p>
  </div>
  <div class="form-group">
    <label class="control-label">Number of Holes:</label> <p class="form-control-static">${Holes}</p>
  </div>
  <div class="form-group">
    <label class="control-label">Par:</label> <p class="form-control-static">${Par}</p>
  </div>
  <div class="form-group">
    <label class="control-label">Type:</label> <p class="form-control-static">${Type}</p>
  </div>
</div>
