<div class="form-inline">
  <div class="form-group">
    <label class="control-label">Name:</label>
    <p class="form-control-static">${LIFT_NAME} (${TYPE})</p>
  </div>
  <div class="form-group">
    <label class="control-label">Resort:</label>
    <p class="form-control-static">${RESORT}</p>
  </div>
  <div class="form-group">
    <label class="control-label">Elevation:</label>
    <p class="form-control-static">${BASE_ELEVATION}-${TOP_ELEVATION}ft</p>
  </div>
  <div class="form-group">
    <label class="control-label">Capacity:</label>
    <p class="form-control-static">${CAPACITY} people</p>
  </div>
</div>
