@require 'nib'
@require vars
@import '../../dijit/themes/claro/claro.css'
@import '../../esri/css/esri.css'
@import '../../bootstrap/dist/css/bootstrap.min.css'
@require '../../../src/layer-selector/resources/LayerSelector'

body, html, .app
    height 100%
    width 100%
    overflow hidden

.nav__below
    position absolute
    top $below-banner

.map
    position absolute
    top 0
    bottom 0 + $below-banner
    left 0
    right 0

.buttons
    position absolute
    top 95px
    left 20px
    z-index 50
    .geolocate
        padding 2px
        width 30px
        height 30px
        background-color rgba(102, 102, 102, .8)
        user-select none
        cusor pointer
        border-radius 5px
        .glyphicon
            color #fff
            font-size 20px
            top 2px
            span
                display block
