@require 'nib'
@require vars
@import '../../dijit/themes/claro/claro.css'
@import '../../esri/css/esri.css'
@import '../../bootstrap/dist/css/bootstrap.min.css'
@require '../../../src/layer-selector/resources/LayerSelector'

body, html, .app
    height 100%
    width 100%
    overflow hidden

.nav__below
    position absolute
    top $below-banner

.map
    position absolute
    top 0
    bottom 0 + $below-banner
    left 0
    right 0
