@require 'nib'
@require vars

.nav--below-relative
  margin-top $below-banner

/* Layout */
.layout__container
  height 100%
  overflow hidden
  width 100%
.section
  display block
  float left
  padding 0 5%
  position relative
  transition .2s all ease
  width 90%
  z-index 2
  p
    font-size 13px
    margin 0 0 10px
  a
    color $button-text-color
    font-weight 900
    text-decoration none
    &:hover
      color $bert-color
  li
    font-size 13px
  ul
    margin-left 5
  h1
    color complement($bert-color)
    font-size 23px
    margin-bottom .5em
  &__map
    box-shadow 0 0 25px rgba(0, 0, 0, .2)
    margin-left 0
    overflow hidden
    position relative
    z-index 1
    &:before, &:after
      background rgba(0, 0, 0, .01)
      content " "
      height 100%
      left -100%
      position absolute
      top 0
      width 100%
      z-index -1
    &:after
      background rgba(0, 0, 0, .01)
      left 100%
  &__info
    margin-right -200%
    padding 10px 3% 0
  &__data
    margin-left -100%
    padding 10px 8% 0 2%

.active-nav
  .section
    &__data
      margin-left 0
      width 80%
    &__map
      margin-right -100%
    &__info
      float right
      margin-right -100%
.active-sidebar
  .section
    &__data
      margin-left -200%
    &__map
      margin-left -90%
    &__info
      margin-left 0
      width 80%
    &__map
      transition .1s all ease

/* Off Canvas Navigation */
.off-canvas-navigation
  bottom 0
  color #fff
  overflow hidden
  position absolute
  width 100%
  z-index 50
  ul
    margin 0
    padding 0
    li
      display block
      width 100px
.sidebar
  background $navbar-default-bg
  background rgba($navbar-default-bg, $sidebar-button-alpha)
  border-radius 2em
  box-shadow inset 0 20px 20px rgba(255, 255, 255, .1)
  color $navbar-default-toggle-border-color
  display block
  font-size 14px
  padding 1em 20%
  text-align center
  &__link:hover,  &__link:visited
    background $navbar-default-toggle-hover-bg
    color #fff
    text-decoration none
  &--right
    float right
  &--left
    float left

@media all and (min-width $media-query-sm)
  .off-canvas-navigation ul li
      float right
      width 20%
  .sidebar
    &__link
      display none
    &--right
      > .sidebar__link
        border 0
        display block
  .section
    width 20%
    &__data
      margin-left 0
    &__map
      width 60%
      float left
  .active-sidebar
    .section
      &__map
        margin-left 0
        width 60%
      &__data
        margin-left -100%
      &__info
        overflow-y auto
        margin-right -80%
        width 24%

@media all and (min-width $media-query-md)
  .layout__container
    margin 0 auto
  .off-canvas-navigation
    display none
  .section
    padding 10px 3% 0
    width 19%
    &__map
      padding 0 3%
      width 44%
    &__data
      float left
      margin-left 0
    &__info
      float right
      margin-right 0
