@require 'nib'
@require vars

.nav--below-relative
  margin-top $below-banner

/* Layout */
.layout__container
  height 100%
  width 100%
  overflow hidden
.section
  float left
  transition .2s all ease
  width 90%
  padding 0 5%
  display block
  position relative
  z-index 2
  p
    font-size 13px
    margin 0 0 10px
  a
    text-decoration none
    color $button-text-color
    font-weight 900
    &:hover
      color $bert-color
  li
    font-size 13px
  ul
    margin-left 5
  h1
    color complement($bert-color)
    font-size 23px
    margin-bottom .5em
  &__map
    margin-left 0
    box-shadow 0 0 25px rgba(0, 0, 0, .2)
    z-index 1
    position relative
    &:before, &:after
      content " "
      position absolute
      z-index -1
      top 0
      left -100%
      width 100%
      height 100%
      background rgba(0, 0, 0, .01)
    &:after
      left 100%
      background rgba(0, 0, 0, .01)
  &__info
    margin-right -200%
    padding 10% 2% 0 8%
  &__data
    margin-left -100%
    padding 10px 8% 0 2%

.active-nav
  .section
    &__data
      margin-left 0
      width 80%
    &__map
      margin-right -100%
    &__info
      margin-right -100%
      float right
    &__data
      margin-left -200%
    &__map
      margin-left -90%
    &__info
      margin-left 0
      width 80%
    &__map
      transition .1s all ease

/* Off Canvas Navigation */
.off-canvas-navigation
  z-index 50
  position absolute
  bottom 0
  width 100%
  overflow hidden
  color #fff
  ul
    padding 0
    margin 0
    li
      width 100px
      display block
.sidebar
  padding 1em 20%
  font-size 14px
  display block
  background $navbar-default-bg
  background rgba($navbar-default-bg, $sidebar-button-alpha)
  color $navbar-default-toggle-border-color
  border-radius 2em
  box-shadow inset 0 20px 20px rgba(255, 255, 255, .1)
  text-align center
  &__link:hover
    text-decoration none
    background $navbar-default-toggle-hover-bg
    color #fff
  &--right
    float right
  &--left
    float left

@media all and (min-width $media-query-sm)
  .off-canvas-navigation ul li
      float right
      width 20%
  .sidebar
    &__link
      display none
    &--right
      > .sidebar__link
        display block
        border 0
  .section
    width 20%
    &__data
      margin-left 0
    &__map
      width 60%
      float left
  .active-sidebar
    .section
      &__map
        margin-left 0
        width 60%
      &__data
        margin-left -100%
      &__info
        margin-right -80%
        width 20%

@media all and (min-width $media-query-md)
  .layout__container
    margin 0 auto
  .off-canvas-navigation
    display none
  .section
    padding 10px 3% 0
    width 19%
    &__map
      width 44%
      padding 0 3%
    &__data
      margin-left 0
      float left
    &__info
      margin-right 0
      float right
