@require 'nib'
@require vars


.map
  position absolute
  top $below-banner
  bottom 0
  left 0
  right 0
.buttons
  position absolute
  top 95px
  left 20px
  z-index 50
  .geolocate
    padding 2px
    width 30px
    height 30px
    background-color $navbar-default-bg
    user-select none
    cusor pointer
    border-radius 5px
    &:hover
      background-color $navbar-default-link-hover-bg
    .glyphicon
      color #fff
      font-size 20px
      top 2px
      span
        display block
.HomeButton
  .home
    background-color $navbar-default-bg
    &:hover
      background-color $navbar-default-link-hover-bg
.spin
  animation spin 2s infinite linear
@keyframes spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
.pulse
  animation pulse 3s infinite
@keyframes pulse
  0%
    opacity 1.0
  45%
    opacity .20
  100%
    opacity 1.0
