$below-banner = 50px

$bert-color = #0f75bc

$navbar-default-bg = $bert-color
$navbar-default-border = complement(lighten($bert-color, 50%))
$navbar-default-brand-color = darken(#fff, 8%)
$navbar-default-brand-hover-color = #fff
$navbar-default-brand-hover-bg = transparent
$navbar-default-color = #777

$navbar-default-link-color = darken(#fff, 10%)
$navbar-default-link-hover-color = $navbar-default-brand-hover-color
$navbar-default-link-hover-bg = darken($bert-color, 10%)
$navbar-default-link-active-color = #fff
$navbar-default-link-active-bg = darken($navbar-default-bg, 6.5%)
$navbar-default-link-disabled-color = darken($bert-color, 70%)

$navbar-default-toggle-border-color = lighten($bert-color, 70%)
$navbar-default-toggle-hover-bg = darken($bert-color, 20%)
$navbar-default-toggle-icon-bar-bg = lighten($bert-color, 70%)
